.day {
  font-size: 0;
  margin-top: 60px;
  margin-bottom: 100px;
  background-size: 240.00px 240.00px;
  background-image: linear-gradient(0deg, #282c34 12.08%, #3b404a 12.08%, #3b404a 12.50%, #282c34 12.50%, #282c34 24.58%, #3b404a 24.58%, #3b404a 25%, #282c34 25%, #282c34 37.08%, #3b404a 37.08%, #3b404a 37.50%, #282c34 37.50%, #282c34 49.58%, #787e8c 49.58%, #787e8c 50%, #282c34 50%, #282c34 62.08%, #3b404a 62.08%, #3b404a 62.50%, #282c34 62.50%, #282c34 74.58%, #3b404a 74.58%, #3b404a 75%, #282c34 75%, #282c34 87.08%, #3b404a 87.08%, #3b404a 87.50%, #282c34 87.50%, #282c34 99.58%, #787e8c 99.58%, #787e8c 100%);
}